*{margin:0;padding:0;}
html{font-size:62.5%;width:100%;}
body{background:#FFF;font:1.4rem/1.6 Arial;color:#666;text-align:center;width:100%;overflow-x:hidden;}
a{color:#333;text-decoration:none;}
ul{list-style:none;}
i,em{font-style:normal;}

.wrap{width:100%;max-width:720px;margin:0 auto;overflow-x:hidden;}

.block-banner{}
.block-body{}
.block-inner{}


/*顶部logo*/
.block-header{}
h1.logo{padding:1.8rem 0;}
h1.logo a{display:block;margin:0 auto;width:10rem;height:3.4rem;text-indent:-999em;overflow:hidden;background:url(res/logo.png) no-repeat center center / auto 100%;}

/*菜单*/
.block-menu{height:3.8rem;background:#000;}
.main-menu{background:#000;}
.main-menu.fixed{position:fixed;top:0;left:0;right:0;z-index:1000;background:transparent;}
.main-menu ul{max-width:720px;margin:0 auto;background:#000;}
.main-menu ul:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
.main-menu li{float:left;width:25%;font-size:1.4rem;}
.main-menu li a{float:left;color:#FFF;width:100%;height:3.8rem;line-height:3.8rem;}
.main-menu li a:hover,
.main-menu li.cur a{background:#80C517;}


/*.block-footer{position:relative;}
.block-footer:after{content:'';position:absolute;bottom:-1px;left:0;width:100%;height:10px;overflow:hidden;background:#FF0;}*/
#gototop{float:right;color:#CCC;}

.footer{clear:both;padding:1rem;height:2rem;line-height:2rem;background:#333;color:#CCC;font-size:12px;text-align:left;}
.footer-box{float:left;padding:10px 0 30px;text-align:left;}
.footer-box h3{padding:20px 0 20px 50px;margin:0 20px 30px 0;border-bottom:1px solid #CCC;background:no-repeat 0 center;font-size:22px;height:40px;line-height:40px;font-weight:normal;}
.footer-box p{color:#333;}
.footer-box p i{color:#999;}
.footer-box.box1{width:30%;}
.footer-box.box2{width:40%;}
.footer-box.box3{width:30%;}
.footer-box.box1 h3{background-image:url(res/footer_icon_book.png);padding-left:50px;}
.footer-box.box2 h3{background-image:url(res/footer_icon_tel.png);padding-left:40px;}
.footer-box.box3 h3{background-image:url(res/footer_icon_star.png);padding-left:44px;margin-right:0;}



.big-title{margin:1rem;padding:2rem 0;border-top:1px solid #DDD;border-bottom:1px solid #DDD;font-weight:normal;font-size:15px;}
.block-title{margin:0 1rem 1rem;font-size:1.7rem;height:2rem;line-height:2rem;padding-left:0.5rem;border-left:2px solid #EF69B4;text-align:left;font-weight:normal;color:#333;}
.block-content{margin-bottom:2rem;}

.lines-block,
.area-block{margin:0 1rem;font-size:0;}
.lines-block:after,
.area-block:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
.lines-block-inner,
.area-block-inner{display:inline-block;width:48%;vertical-align:top;}
.lines-block-inner:nth-child(2n),
.area-block-inner:nth-child(2n){margin-left:4%;margin-bottom:1.2rem;}


.line-block-top{padding:2rem 0 0 2rem;height:4rem;font-size:3rem;background:#81C61A url(res/lines-bus.png) no-repeat 90% bottom / 29% auto;text-align:left;color:#FFF;line-height:1;}
.line-block-btm{padding:0.5rem 0 1rem;border:1px solid #E6E6E6;border-top:0 none;background:#FFF url(res/lines-arrow.png) no-repeat center 90% / 90% auto;font-size:1rem;}
.line-block-btm p{width:200%;margin-left:-50%;text-align:center;color:#333;-webkit-transform:scale(0.8);white-space:nowrap;}

.area-block-inner{font-size:1.2rem;}
.area-block-inner img{width:100%;margin-bottom:0.4rem;vertical-align:top;}
.area-block-inner .area-name{text-align:left;color:#333;}
.area-block-inner .area-desc{text-align:left;color:#999;}

/*banner*/
.block-banner{position:relative;height:38rem;overflow:hidden;}
.block-banner>div{height:100%;background:no-repeat center 0 /cover;position:absolute;top:0;left:0;width:100%;
	-webkit-transform:translateX(0);
	transform:translateX(0);
	-webkit-transition:all 0.4s 0s ease;
	transition:all 0.4s 0s ease;
}
.block-banner .banner1{background-image:url(res/banner_bg1_wap.jpg);}
.block-banner .banner2{background-image:url(res/banner_bg2_wap.jpg);left:100%;}
.block-banner.show1>div{
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
}
.banner-tab{position:absolute;bottom:2rem;left:0;width:100%;}
.banner-tab li{display:inline-block;width:52px;height:6px;background:url(res/tab.png) no-repeat 0 bottom/auto 100%;}
.banner-tab li:nth-child(1){margin-right:5px;}
.banner-tab li.cur{background-position:right bottom;}

.banner1 h2{font-size:2rem;color:#FFF;padding:2.6rem 0 1.8rem;}
.banner1 p{font-size:1.2rem;padding:0 1rem;color:#B5B5B5;}


.banner2 h2{font-size:2rem;color:#FFF;padding:2.6rem 0 3.8rem;}
.banner2 ul{width:90%;margin:0 auto;}
.banner2 ul li{margin-bottom:1.8rem;text-align:left;zoom:1;}
.banner2 ul li:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
.banner2 ul li strong,
.banner2 ul li p{float:left;display:inline;height:2.1rem;line-height:2.1rem;font-size:1.6rem;color:#FFF;font-weight:normal;}
.banner2 ul li strong{width:16%;padding-left:1.8rem;background:url(res/banner_dot.png) no-repeat 0 center / auto 100%;}
.banner2 ul li p{width:74%;background:rgba(0,0,0,0.4);border-radius:2px;position:relative;}
.banner2 ul li p:after{content:'';border-radius:2px;position:absolute;top:0;left:-6px;width:3px;height:100%;background:#8CCC2A;}
.banner2 ul li:hover p{background:rgba(0,0,0,0.2);}
.banner2 ul li:hover p i{background:#AAE94A;}
.banner2 ul li p i{float:left;height:100%;width:0;background:#8CCC2A;border-radius:2px;
	-webkit-transition:width 0.6s 0s ease;/*cubic-bezier(.25,.48,.34,1.3)*/
	transition:width 0.6s 0s ease;/*cubic-bezier(.25,.48,.34,1.3)*/
}
.banner2 ul li p span{position:absolute;right:10px;top:0;font-size:16px;}

.banner2 ul li:nth-child(1) p i{
	-webkit-transition-delay:0.4s;
	transition-delay:0.4s;
}
.banner2 ul li:nth-child(2) p i{
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
}
.banner2 ul li:nth-child(3) p i{
	-webkit-transition-delay:0.6s;
	transition-delay:0.6s;
}
.banner2 ul li:nth-child(4) p i{
	-webkit-transition-delay:0.7s;
	transition-delay:0.7s;
}
.banner2 ul li:nth-child(5) p i{
	-webkit-transition-delay:0.8s;
	transition-delay:0.8s;
}




.index-body-block{clear:both;font-size:0;padding:2rem 0;/*border-bottom:1px solid #EEE;*/}
.index-body-block:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
.index-body-block .block-text,
.index-body-block .block-icon{display:inline-block;width:50%;vertical-align:middle;text-align:left;}
.index-body-block .block-icon img{width:80%;}
.index-body-block:nth-child(2) .block-icon{text-align:right;}
.index-body-block .block-text{padding-top:1rem;}
.index-body-block .big-text{padding:0 1.5rem;font-size:2.8rem;color:#E4007F;font-weight:bold;}
.index-body-block .small-text{padding:0 1.5rem;font-size:1.4rem;color:#B5B5B5;}




@media screen and (min-width:321px){
	html{font-size:75%}
	.line-block-btm p{-webkit-transform:scale(0.9);}
}

